*{
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
@font-face{
    font-family: "FiraCode-Light";
    src: url("../assets/fonts/FiraCode/static/FiraCode-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "FiraCode";
    src: url("../assets/fonts/FiraCode/static/FiraCode-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "FiraCode-Medium";
    src: url("../assets/fonts/FiraCode/static/FiraCode-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "FiraCode-SemiBold";
    src: url("../assets/fonts/FiraCode/static/FiraCode-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "FiraCode-Bold";
    src: url("../assets/fonts/FiraCode/static/FiraCode-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "FiraCode", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
=======
body{

>>>>>>> c57c4ce11d0c7a0ff32ad65e5ccc0b80da92a174
}

:root{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-gray: #191919;
    --color-light-blue: #CCCCFF;
    --color-dark-blue: #0000FF;
    --color-background-gray: #E9E9E9;
    --color-input-transparency: rgba(47, 47, 47, 0.5);
<<<<<<< HEAD
    --transparent: rgba(0, 0, 0, 0);

    --font-light: 'FiraCode-Light';
    --font-regular: 'FiraCode';
    --font-medium: 'FiraCode-Medium';
    --font-semibold: 'FiraCode-SemiBold';
    --font-bold: 'FiraCode-Bold';

=======

    --font: 'Inter';
>>>>>>> c57c4ce11d0c7a0ff32ad65e5ccc0b80da92a174
    --headline1-normal: 56px;
    --headline1-small: 26px;

    --headline2-normal: 36px;
    --headline2-small: 23px;

    --headline3-normal: 30px;

    --headline4-normal: 25px;

    --paragraph-normal: 25px;

<<<<<<< HEAD
    --button-big-text: 26px;
=======
>>>>>>> c57c4ce11d0c7a0ff32ad65e5ccc0b80da92a174
    --button-text: 20px;

    --header-links: 36px;
    --footer-links1: 23px;
    
}