@import url(./global.css);

h1{
    font-size: var(--headline1-normal);
    text-align: center;
}

h2{
    font-size: var(--headline2-small);
}

h3{
 font-size: var(--headline3-normal);
}

p{
    font-size: var(--paragraph-normal);
}

label{
    font-size: var(--headline3-normal);
}

input{
    font-size: var(--paragraph-normal);
    color: var(--color-input-transparency);
    background-color: var(--transparent);
    border-radius: 20px;
    border: 2px solid var(--color-input-transparency);
    padding-left: 25px;
    height: 44px;
}

textarea {
  font-size: var(--paragraph-normal);
  color: var(--color-input-transparency);
  background-color: var(--transparent);
  border-radius: 20px;
  border: 2px solid var(--color-input-transparency);
  line-height: 1.2;
  padding-left: 25px;
  height: 44px;
  min-height: 44px;
  resize: none;
  overflow: hidden;
  transition: height 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}

a{
    font-size: var(--footer-links1);
}

button{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    font-family: var(--font-medium);
    font-size: var(--button-text);
}

.logo{
    width: 150px;
}

body {
    background-color: var(--color-background-gray);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: var(--color-white);
    background-color: var(--color-light-blue);
    font-size: var(--header-links);
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    gap: 32px;
}

nav button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;
    border: none;
    border-radius: 100px;;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: var(--button-big-text);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  width: 35px;
  height: 35px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--color-white);
  border-radius: 5px;
  transition: 0.3s;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  gap: 45px;
  list-style: none;
}

.nav-menu li {
    text-align: center;
}

.nav-menu ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--header-links);
}

@media (max-width: 820px) {
  nav{
    height: 85px;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 85px;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-blue);
    width: 100%;
    gap: 20px;
    padding: 20px 5px;
    display: none;
    border-top: 2px solid var(--color-dark-blue);
  }

  .nav-menu.active {
    display: flex;
    animation: slideDown 0.3s ease;
  }

  @keyframes slideDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  nav {
    justify-content: space-between;
    padding: 0 20px;
  }
}

header{
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-light-blue);
}

.header-img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header-img img{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 760px) {
    .header-img img{
        width: 200%;
    }
}

.header-content{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-top: 80px;
    padding-right: 64px;
    padding-bottom: 80px;
    padding-left: 64px;
    color: var(--color-white);
}

@media (max-width: 950px) {
    .header-content{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header-description{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-buttons{
    display: flex;
    gap: 16px;
}

@media (max-width: 430px) {
    .header-buttons{
        flex-direction: column;
    }
}

.header-buttons .btn-about_us{
    width: 168px;
    border: none;
    background: var(--color-dark-blue);
    color: var(--color-white);
}

.header-buttons .btn-join_us{
    width: 216px;
    border: 2px solid var(--color-white);
    background: var(--transparent);
    color: var(--color-white);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-right: 20px;
}

@media (max-width: 930px) {
    main {
        gap: 40px;
    }
}

@media (max-width: 910px) {
    main {
        gap: 20px;
    }
}

.about-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 120px;
    padding-right: 64px;
    padding-bottom: 120px;
    padding-left: 64px; 
}

.mascote{
    width: 80px;
}

.about-buttons{
    display: flex;
    gap: 24px;
}

.about-buttons .btn-about_us{
    width: 168px;
    border: 2px solid var(--color-black);
    background: var(--transparent);
}

.about-buttons .btn-explore{
    width: 128px;
    border: none;
    background: var(--transparent);
    gap: 8px;
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.img-ilustrativa {
    width: 45%;
    border-radius: 40px;
}

@media (max-width: 820px) {
    main{
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-right: 0;
        gap: 5px;
    }

    .about-section{
        padding-top: 30px;
        padding-left: 20px ;
    }

    .img-ilustrativa{
        width: 90%;
    }
}

@media (max-width: 400px) {
    .about-section{
        padding-top: 120px;
        padding-right: 20px;
    }
}

.mission-vision-values{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
    padding-right: 64px;
    padding-bottom: 94px;
    padding-left: 64px;
    color: var(--color-white);
    background-color: var(--color-light-blue);
    gap: 75px;
}

.mvv-content{
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 100%;
    text-align: center;
}

@media (max-width: 760px) {
    .mvv-content{
        flex-direction: column;
    }
}

.mvv-content h2{
    font-size: var(--headline2-normal);
}

.mission-content, .vision-content, .values-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.mission-content > img , .vision-content > img , .values-content > img {
    width: 55px;
    height: 55px;
}

.text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
    gap: 48px;
}

.team-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.team-row1, .team-row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team-row1{
    gap: 32px;
}

.team-row2{
    gap: 40px;
}

@media (max-width: 760px) {
    .team-row1{
        flex-direction: column;
        gap: 48px;
    }
    .team-row2{
        flex-direction: column;
        gap: 48px;
    }
}

.team-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 24px;
}

.team-profile > img {
    width: 180px;
    height: 180px;
    aspect-ratio: 1/1;
    border-radius: 300px;
}

.text-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.text-card h3{
    text-align: center;
}

.profile-socials {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.profile-socials > img {
    width: 30px;
    height: 30px;
}

gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
    padding-bottom: 94px;
    gap: 25px;
}

.carousel {
  position: relative;
  width: 85%;
  min-height: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.carousel-track {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease;
}

.slide img {
  width: 18vw;          /* responsivo pela largura da tela */
  height: auto;
  border-radius: 20px;
  transition: all 0.5s ease;
  opacity: 0.6;
}

.slide.center {
    opacity: 1;
    z-index: 3;
}
.slide.center img {
  width: 30vw;          /* central ocupa mais espaço */
  opacity: 1;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.slide.prev {
  opacity: 1;
  z-index: 2;
  transform: translate(-150%, -50%);
}
.slide.prev img {
  width: 22vw;
  opacity: 0.85;
}

.slide.next {
  opacity: 1;
  z-index: 2;
  transform: translate(50%, -50%);
}
.slide.next img {
  width: 22vw;
  opacity: 0.85;
}

.carousel > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.45);
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  z-index: 5;
}
.carousel > button.prev { left: 10px; }
.carousel > button.next { right: 10px; }

@media (max-width: 1550px) {
    .carousel{
        min-height: 650px;
        height: 650px;
    }
}

@media (max-width: 1400px) {
    gallery {
        gap: 55px;
    }
    gallery p {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1200px) {
    .carousel{
        min-height: 400px;
        height: 400px;
    }
}

@media (max-width: 1000px) {
    .carousel{
        min-height: 325px;
        height: 325px;
    }
}

@media (max-width: 760px) {
    .carousel{
        min-height: 225px;
        height: 225px;
    }
}

footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    gap: 32px;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

@media (max-width: 1200px) {
    .footer-section {
        flex-direction: column;
    }
}

.footer-column1, .forms{
    display: flex;
    flex-direction: column;
}

.footer-column1{
    padding-top: 48px;
    padding-left: 48px;
    gap: 32px;
}

@media (max-width: 1200px) {
    .footer-column1 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 760px) {
    .footer-column1{
        gap: 15px;
    }
}

.top-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.social-links img {
    height: 25px;
    width: auto;
}

.footer-column2 {
    padding-right: 48px;
}

.forms{
    border-radius: 40px;
    border: 2px solid var(--color-white);
    padding: 48px;
    gap: 30px;
}

.name, .lastname {
    width: 100%;
}

.input-name, .input-tel, .input-email, .input-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-content-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-button{
    width: 108px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--color-dark-blue);
    padding: 0;
    color: var(--color-white);
}

.credits{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 20px;
}

.credits > p {
    font-size: var(--footer-links1);
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.footer-links > a{
    color: var(--color-dark-gray);
    text-align: center;
}

@media (max-width: 1125px) {
    .footer-section {
        gap: 15px;
    }
    .footer-column2{
        padding-left: 5px;
        padding-right: 5px;
    }
    .credits{
        flex-direction: column;
    }
    .credits > p {
        font-size: var(--footer-links2);
    }
    .footer-links > a{
        font-size: var(--footer-links2);
        width: max-content;
    }
}

@media (max-width: 700px) {
    .input-content-name {
        flex-direction: column;
    }
    .footer-links{
        gap: 15px;
    }
    .footer-links > a{
        width: 33%;
    }
}