@import url(./global.css);

h1{
    font-size: var(--headline1-normal);
    color: var(--color-dark-gray);
}

h2{
    font-size: var(--headline2-small);
}

h3{
 font-size: var(--headline3-normal);
}

p{
    font-size: var(--paragraph-normal);
    color: var(--color-dark-gray);
}

label{
    font-size: var(--headline3-normal);
}

input{
    font-size: var(--paragraph-normal);
    color: var(--color-input-transparency);
    background-color: var(--transparent);
    border-radius: 20px;
    border: 2px solid var(--color-input-transparency);
    padding-left: 25px;
    height: 44px;
}

textarea {
  font-size: var(--paragraph-normal);
  color: var(--color-input-transparency);
  background-color: var(--transparent);
  border-radius: 20px;
  border: 2px solid var(--color-input-transparency);
  line-height: 1.2;
  padding-left: 25px;
  height: 44px;
  min-height: 44px;
  resize: none;
  overflow: hidden;
  transition: height 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}

a{
    font-size: var(--footer-links1);
    color: var(--color-dark-gray);
}

body {
    background-color: var(--color-background-gray);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: var(--color-light-blue);
    font-size: var(--header-links);
    gap: 32px;
}

nav > ul{
    display: flex;
    gap: 32px;
}

nav > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;
    border: none;
    border-radius: 100px;;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: var(--button-big-text);
}

header{
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-light-blue);
}

button{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    font-family: var(--font-medium);
    font-size: var(--button-text);
}

.header-content{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-top: 80px;
    padding-right: 64px;
    padding-bottom: 80px;
    padding-left: 64px;
}

.header-description{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-buttons{
    display: flex;
    gap: 16px;
}

.header-buttons .btn-about_us{
    width: 168px;
    border: none;
    background: var(--color-dark-blue);
    color: var(--color-white);
}

.header-buttons .btn-join_us{
    width: 216px;
    border: 2px solid var(--color-black);
    background: var(--transparent);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.about-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 120px;
    padding-right: 64px;
    padding-bottom: 120px;
    padding-left: 64px; 
}

.about-buttons{
    display: flex;
    gap: 24px;
}

.about-buttons .btn-about_us{
    width: 168px;
    border: 2px solid var(--color-black);
    background: var(--transparent);
}

.about-buttons .btn-explore{
    width: 128px;
    border: none;
    background: var(--transparent);
    gap: 8px;
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.mission-vision-values{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
    padding-right: 64px;
    padding-bottom: 94px;
    padding-left: 64px;
    background-color: var(--color-light-blue);
    gap: 75px;
}

.mvv-content{
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 1600px;
    text-align: center;
}

.mvv-content h2{
    font-size: var(--headline2-normal);
}

.mission-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 502px;
    gap: 24px;
}

.vision-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 502px;
    gap: 24px;
}

.values-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 502px;
    gap: 24px;
}

.mission-content > img , .vision-content > img , .values-content > img {
    width: 55px;
    height: 55px;
}

.text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
    padding-bottom: 94px;
    gap: 48px;
}

.team-members{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.team-row1, .team-row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team-row1{
    gap: 32px;
}

.team-row2{
    gap: 40px;
}

.team-profile {
    display: flex;
    flex-direction: column;
    width: 512px;
    align-items: center;
    gap: 24px;
}

.team-profile > img {
    width: 180px;
    height: 180px;
    aspect-ratio: 1/1;
    border-radius: 300px;
}

.text-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text-card h3{
    text-align: center;
}

.profile-socials {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.profile-socials > img {
    width: 30px;
    height: 30px;
}

gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
    padding-bottom: 94px;
    gap: 48px;
}

.gallery-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.gallery-content > img {
    width: 30%;
    border-radius: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    gap: 32px;
}

.footer-section {
    display: flex;
    flex-direction: row;
}

.footer-column1, .footer-column2{
    display: flex;
    flex-direction: column;
}

.footer-column1{
    padding: 48px;
    gap: 32px;
}

.top-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-column2{
    border-radius: 40px;
    border: 2px solid var(--color-white);
    padding: 48px;
    gap: 30px;
}

.input-name, .input-tel, .input-email, .input-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-content-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-button{
    width: 108px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: var(--color-dark-blue);
    padding: 0;
    color: var(--color-white);
}

.credits{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.credits > p{
    font-size: var(--footer-links1);
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}